{% extends "AppCoder/padre.html" %}

{% load static %}


{% block titulo %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Datos del Abrigo</h1>
  </div>
{% endblock %}

{% block contenido_que_cambia %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
<div class="card-body">
    <img src="{{abrigo.imagenAbrigo.url}}" class="" width="200px">
</div>
<p class="lead">NOMBRE: <i>{{ abrigo.nombre }}</i></p>
<p class="lead">MARCA: <i>{{ abrigo.marca }}</i></p>
<p class="lead">TALLA: <i>{{ abrigo.talla }}</i></p>
<p class="lead">PRECIO: <i>{{ abrigo.precio }}</i></p>
<p class="lead">TELEFONO: <i>{{ abrigo.telefono }}</i></p>
<p class="lead">EMAIL: <i>{{ abrigo.email }}</i></p>
</div>

{% endblock %}