{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
<br>
<br>
<br>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Agregando Foto de Perfil</h1>
        <p class="lead">{{ usuario.username }} está cambiando su foto de perfil.</p>
      </div>
{% endblock %}

{% block contenido_que_cambia %}
<br>
<br>
<br>
<h3>{{ mensaje }}</h3>
<form action="{% url 'agregarAvatar' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}

    <table>

        {{ form.as_table }}

    </table>

    <input type="submit" value="AGREGAR AVATAR">



</form>

{{ mensaje }}

{% endblock %}