{% extends "AppCoder/padre.html" %}

{% load static %}


{% block titulo %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Datos de la Camiseta</h1>
  </div>
{% endblock %}

{% block contenido_que_cambia %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
<div class="card-body">
    <img src="{{camiseta.imagenCamiseta.url}}" class="" width="200px">
</div>
<p class="lead">NOMBRE: <i>{{ camiseta.nombre }}</i></p>
<p class="lead">MARCA: <i>{{ camiseta.marca }}</i></p>
<p class="lead">TALLA: <i>{{ camiseta.talla }}</i></p>
<p class="lead">PRECIO: <i>{{ camiseta.precio }}</i></p>
<p class="lead">TELEFONO: <i>{{ camiseta.telefono }}</i></p>
<p class="lead">EMAIL: <i>{{ camiseta.email }}</i></p>
</div>

{% endblock %}