{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Bienvenido a Moda Shop</h1>
    <p class="lead">Para las personas que desean vestir bien</p>
  </div>
  <br>
<br>
<br>
<br>
{% endblock %}

{% block contenido_que_cambia %}
<br>
<br>
<br>
<br>
<br>
<br>
{% if user.is_authenticated %}
<div class="text-center">
<h2> {{ mensaje }}</h2>
<p class="lead">Si eres nuevo, agrega una foto de perfil :D</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endif %}

</div>
<br></br>

{% endblock %}