{% extends "AppCoder/padre.html" %}
<link href="signin.css" rel="stylesheet">
{% load static %}

{% block titulo %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Inicia Sesión</h1>
    <p class="lead">Si no tienes una cuenta regístrate.</p>
  </div>
{% endblock %}

{% block contenido_que_cambia %}

<form action="{% url 'login' %}" method="POST"> {% csrf_token %}
  <table>

      {{ form.as_table }}

  </table>
  <input type="submit" value="INGRESAR">
</form>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}