{% extends "AppCoder/padre.html" %}

{% load static %}


{% block titulo %}
    <h1>PANTALONES EN VENTA!!!!</h1>
{% endblock %}

{% block contenido_que_cambia %}

<h2> LISTA DE PANTALONES </h2>

<ul>
        {% for pantalon in pantalones %}
        
        
        <div class="card-body">
            
            <img src="{{pantalon.imagenPantalon.url}}" class="" width="100px">
        </div>
        <li>
            {{ pantalon }}
        </li>
        {% if not user.is_staff %}
        <a class="btn btn-success" href="{% url 'pantalon_detalle' pantalon.id %}">Detalle</a>
        
        {% endif %}

        {% if user.is_staff %}
        <a class="btn btn-success" href="{% url 'pantalon_detalle' pantalon.id %}">Detalle</a>
        <a class="btn btn-success" href="{% url 'pantalon_editar' pantalon.id %}">Editar</a>
        <a class="btn btn-danger" href="{% url 'pantalon_borrar' pantalon.id %}">Eliminar</a>
        {% endif %}

        <br>
        </br>
        <br>
    </br>
        {% endfor %}

        <br>
        </br>
        <a class="btn btn-primary" href="{% url 'pantalon_agregar' %}">AGREGAR PANTALON</a>
    
    
</ul>
<h3> {{ mensaje }}</h3>



{% endblock %}