{% extends "AppCoder/padre.html" %}

{% load static %}


{% block titulo %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Datos del Pantalón</h1>
  </div>
{% endblock %}

{% block contenido_que_cambia %}
<br>
<br>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
<div class="card-body">
    <img src="{{pantalon.imagenPantalon.url}}" class="" width="100px">
</div>
<p class="lead">NOMBRE: <i>{{ pantalon.nombre }}</i></p>
<p class="lead">MARCA: <i>{{ pantalon.marca }}</i></p>
<p class="lead">TALLA: <i>{{ pantalon.talla }}</i></p>
<p class="lead">PRECIO: <i>{{ pantalon.precio }}</i></p>
<p class="lead">TELEFONO: <i>{{ pantalon.telefono }}</i></p>
<p class="lead">EMAIL: <i>{{ pantalon.email }}</i></p>
</div>

{% endblock %}