{% extends "AppCoder/padre.html" %}

{% load static %}


{% block titulo %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Agregar Pantalon</h1>
  </div>
{% endblock %}

{% block contenido_que_cambia %}
<h1>REGISTRA TU PANTALON</h1>

<form action="{% url 'pantalon_agregar' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}

    <table>

        {{ form.as_table }}

    </table>

    <input type="submit" value="AGREGAR PANTALON">



</form>

{% endblock %}