{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Regístrate</h1>
    <p class="lead">Solo los usuarios registrados podrán acceder a la tienda</p>
  </div>
{% endblock %}

{% block contenido_que_cambia %}

<h3>{{ mensaje }}</h3>
<br>
<br>
<br>
<br>
<form action="{% url 'register' %}" method="POST">
    {% csrf_token %}

    <table>
    {{ form.as_table }}
    </table>

    <input type="submit" value="CREAR USUARIO">
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}