{% extends 'AppCoder/padre.html' %}
{% load static %}

{% block titulo %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Sobre Mí</h1>
  </div>
{% endblock %}

<br>
<br>

{% block contenido_que_cambia %}
    <div class="container">
       <br>
       <div class="row g-4">
           <div class="col-md-6 col-lg-3">
               <div class="card bg-success">
                    <div class="card-body text-center">
                        <img src="/media/avatars/perfil.jpg" class="rounded-circle mb-3" width="150px">
                    <h3 class="card-title mb-3">Ruben Gallardo Vargas</h3>
                    <p class="card-text">Python Developer Jr.</p>
                    </div>
               </div>
           </div>
           <div class="col">
            <div class="">
                 <div class="text-center">
                    <p>Hola mi nombre es Ruben, soy estudiante de la Universidad Nacional Mayor de San Marcos (Lima, Perú), actualmente estoy estudiando la carrera de Computación Científica ya que me interesa mucho el mundo de la programación y debido a ello quise llevar este curso. La finalidad de mi proyecto es crear una tienda virtual que sea capaz de poder ofrecer diferentes productos a los usuarios. Estoy agradecido con lo que aprendí a lo largo de las clases, seguiré practicando para mejorar mis habilidades.</p>
                 </div>
            </div>
        </div>
       </div>
    </div>
    <br>
    <br>
    <br>
    <br>



{% endblock %}