{% extends "AppCoder/padre.html" %}

{% load static %}


{% block titulo %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Detalles del Zapato</h1>
  </div>
{% endblock %}

{% block contenido_que_cambia %}
<br>
<br>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
<div class="card-body" text-align="center">
    <img src="{{zapato.imagenZapato.url}}" class="" width="100px">
</div>
<p class="lead">NOMBRE: <i>{{ zapato.nombre }}</i></p>
<p class="lead">MARCA: <i>{{ zapato.marca }}</i></p>
<p class="lead">TALLA: <i>{{ zapato.talla }}</i></p>
<p class="lead">PRECIO: <i>{{ zapato.precio }}</i></p>
<p class="lead">TELEFONO: <i>{{ zapato.telefono }}</i></p>
<p class="lead">EMAIL: <i>{{ zapato.email }}</i></p>
</div>

<br>
<div class="container">
    <h4>Comentarios del Producto</h4>
    <br>
    <div class="container">
    {% if not zapato.comentarios.all %}
        No hay comentarios para este producto.
    {% else %}
        {% for zapato in zapato.comentarios.all %}
        <p><strong>{{comentario.nombre}}</strong></p>
        <p>{{comentario.mensaje}}</p>
        <p><small>{{comentario.fechaComentario}}</small></p>
        <hr>
        {% endfor %}
    {% endif %}
    <a href="{% url 'comentarios' zapato.pk %}">Agrega un Comentario</a>
    </div>
</div>
<br>

{% endblock %}